@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.rewards {
  &__points-wrapper {
    display: flex;
    align-items: center;
    width: 23rem;
  }

  &__points-img {
    width: 2.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin: 1.25rem 0.5rem 0 0;

    @include desktop {
      width: 2.5rem;
    }
  }

  &__points-subtitle {
    font-size: 0.6rem;
    font-weight: 700;

    @include desktop {
      font-size: 0.75rem;
    }
  }

  &__points-number {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Corben";
    font-size: 2rem;
    color: $dark-blue;

    @include desktop {
      font-size: 3rem;
    }
  }

  &__points-next-level {
    font-size: 0.65rem;
    margin-left: 1rem;
    color: grey;
  }
}
