@use "./_variables" as *;
@use "./_typography" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin library-textFormat($size, $weight) {
  color: #000;
  font-family: Gilroy;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin letters-fonts($size, $weight, $color) {
  font-size: $size rem;
  font-weight: $weight;
  color: $color;
}

@mixin flex-box($direction, $content, $items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
}

@mixin dimensions($w, $h) {
  width: $w;
  height: $h;
}

@mixin margin-padding($mt, $mr, $mb, $ml, $pt, $pr, $pb, $pl) {
  margin: mt, $mr, $mb, $ml;
  padding: $pt, $pr, $pb, $pl;
}

@mixin border {
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 0 black;
}

@mixin thin-border {
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 0 black;
}

@mixin button {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}