@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-weight: 600;
  font-style: bolder;
}

@font-face {
  font-family: "Corben";
  src: url(../fonts/Corben-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Corben";
  src: url(../fonts/Corben-Bold.ttf);
  font-weight: 600;
  font-style: bold;
}
