$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;

$black: #000000;
$dark-blue: #0954b0;
$light-blue: #0099ff;
$tag-blue: #b3e1ff;
$red: #ff7070;
$cream: #fff9f4;
$yellow: #ffd22f;
$white: #ffffff;
$mark-as-read: #c1d0b5;
$read-hover: #99a98f;
