@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.voting {
  @include flex-box(column, flex-start, center);
  gap: 1rem;
  
  @include tablet {
    @include flex-box(row, center, flex-start);
    justify-content: space-between;
  }

  &__container {
    @include flex-box(row, center, center);
    gap: 0.5rem;
    font-size: 0.825rem;
  }

  &__thumb {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;

    &--down {
      transform: rotate(180deg);
    }
  }

  &__count {
    text-align: center;
  }
}