@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.reward {
  @include thin-border;
  width: 12rem;
  height: 9rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  &--error {
    transition: none;

    &:hover {
      transform: none;
      @include thin-border;
      cursor: default;
    }
  }

  @include desktop {
    width: 16rem;
    height: 10rem;
  }

  @include large-desktop {
    width: 19.5rem;
    height: 13rem;
  }

  &__title {
    font-size: 0.85rem;
    letter-spacing: -0.025rem;
    text-align: left;
    font-weight: 900;
    margin-top: 4px;
    margin-left: 6px;
    line-height: 1rem;

    @include desktop {
      font-size: 14px;
      margin-top: 9px;
    }

    @include large-desktop {
      font-size: 18px;
      margin-top: 0.85rem;
      margin-left: 0.75rem;
      line-height: normal;
    }
  }

  &__description {
    font-size: 0.65rem;
    margin: 5px 7px 0;
    color: #505050;

    @include desktop {
      font-size: 11px;
      margin-top: 7px;
      margin-right: 7px;
    }

    @include large-desktop {
      font-size: 15px;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }

  &__point-container {
    display: inline-flex;
    align-items: center;
    margin-top: 6px;
    margin-left: 10px;

    @include desktop {
      margin-top: 8px;
    }

    @include large-desktop {
      margin-left: 0.75rem;
    }
  }

  &__heading-top {
    width: 11rem;

    @include desktop {
      width: 13rem;
    }

    @include large-desktop {
      width: 17rem;
    }
  }
}

// .reward__title {
//   text-align: left;
//   font-weight: 900;
//   margin-top: 10px;
//   margin-left: 10px;
//   font-size: 20px;
// }

// .reward__description {
//   font-size: 16px;
//   margin-left: 10px;
//   margin-top: 10px;
//   color: #505050;

// }

// .reward__point-container {
//   display: inline-flex;
//   align-items: center;
//   margin-top: 10px;
//   margin-left: 10px;
// }

.coin-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.reward__required-points {
  margin-left: 8px;
  font-size: 0.75rem;
  font-weight: 600;

  @include desktop {
    font-size: 12px;
  }

  @include large-desktop {
    font-size: 17px;
  }
}

.reward__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.reward__claim-button-error {
  background-color: #606060;
  color: $black;
  padding: 7px;
  font-size: 0.75rem;
  border-radius: 5px;
  width: 93%;
  margin-bottom: 1px;
  @include very-thin-border;
  @include button;
  cursor: default;

  @include desktop {
    font-size: 15px;
    width: 90%;
    margin-bottom: 2px;
  }

  @include large-desktop {
    font-size: 17px;
    width: 92%;
    margin-top: 0.5rem;
    padding: 7px;
  }
}

.reward__claim-button-approve {
  background-color: $light-blue;
  color: $black;
  padding: 7px;
  font-size: 0.75rem;
  border-radius: 5px;
  width: 93%;
  margin-bottom: 1px;
  @include very-thin-border;
  @include button;

  @include desktop {
    font-size: 15px;
    width: 90%;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  @include large-desktop {
    font-size: 17px;
    width: 92%;
    margin-top: 0.5rem;
    padding: 7px;
  }
}
