.rewards_container {
  display: flex;
}

.options-description {
  font-size: 14px;
  color: gray;
  margin-left: 20px;
}

.rewards-redemption-title {
  font-size: 25px;
  font-weight: 600;
  margin: 15px;
  /* margin-left: 30px; */
}

.rewards-right-container {
  margin: 20px;
  width: 1500px;
}

.rewards-redemption-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.points-balance-container {
  background-color: green;
}

/* .daily-redemption-options-container {
 
} */

.rewards-redemption__container {
display:flex;
flex-direction: column;
flex: 2;
/* background-color: blue; */
}

