@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.rewards_container {
  display: flex;
}

.options-description {
  font-size: 0.75rem;
  color: gray;
  font-weight: 700;
  line-height: 1.25;
}

.rewards-redemption-title {
  font-size: 1rem;
  font-weight: 700;
}

.rewards-redemption-title2 {
  margin: 1rem 0 0.5rem;
}

.rewards-right-container {
  width: 70rem;

  @include desktop {
    width: 95rem;
  }

  @include large-desktop {
    width: 125rem;
    margin: 0 1rem;
  }
}

.rewards-right-top {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.rewards-redemption-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0.5rem 0 0;
}

.points-balance-container {
  background-color: green;
}

/* .daily-redemption-options-container {
 
} */

.rewards-redemption__container {
  display: flex;
  flex-direction: column;
  flex: 2;
  /* background-color: blue; */
}

.pointsBar {
  margin: 0;
  margin-right: 1rem;
}

.daily-redemption-options-container {
  @include thin-border;
  margin: 1rem 1rem 1rem 0.4rem;
  padding: 0 0.65rem 0.65rem;
}

:root {
  --slider-bg: gray;
}

.chakra-slider.css-1xfb6kw {
  padding-top: 11px !important;
}

.reward-options {
  &__container {
    @include thin-border;
    margin: 1rem 1rem 1rem 0.4rem;
    padding: 0 0.65rem 0.65rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
  }

  &__title2 {
    margin: 1rem 0 0.5rem;
  }
}
