@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;

$font-stack-gilroy-bl: "PoppinsBold", serif;

.header {
  align-items: center;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background: #fff;
  padding: 0 0.75rem;
  margin-top: 0.75rem;

  @include desktop {
    height: 11vh;
    padding: 0 1.5rem;
  }

  &__main-icon {
    margin-left: 5px;
  }

  &__main-image {
    height: 4vh;
  }

  @include tablet {
    width: 100%;

    &__navigation {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 42rem;
    }

    &__main-icon {
      margin-left: -20px;
    }

    &__main-image {
      height: 3vh;
    }

    &__icons {
      display: flex;
      flex-direction: column;
    }

    &__images {
      height: 1rem;
    }

    &__icon-titles {
      font: 100% $font-stack-gilroy-bl;
      font-size: 0.65rem;
    }

    &__user-container {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 7vw;
    }

    &__user-pic {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    &__down-carrot {
      height: 0.75vh;
    }
  }

  @include desktop {
    &__images {
      height: 1.25rem;
    }

    &__navigation {
      width: 50rem;
    }

    &__icon-titles {
      font-size: 1rem;
    }

    &__user-pic {
      width: 3rem;
      height: 3rem;
    }

    &__down-carrot {
      height: 1vh;
    }

    &__main-image {
      height: 4vh;
    }
  }
}
