@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.nav {
  &__list {
    margin: 0.75rem;
    // margin-right: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem;
    padding-top: 0.5rem;
    @include border;
    z-index: 99;
    background-color: $white;
  }

  &__item {
    display: flex;
    padding: 0.5rem 0.25rem;
    align-items: center;

    &-name {
      font-size: 0.65rem;
      margin-left: 0.5rem;
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: $yellow;
      color: $black;
      @include thin-border;
      box-shadow: none;
      border: none;

      // .nav__icon {
      //   filter: invert(1);
      // }
    }
  }

  &__icon {
    width: 14%;

    @include desktop {
      width: 11%;
    }

    &-upload {
      filter: invert(1);
    }
  }

  &__container {
    &-top {
      flex-grow: 1;
    }

    &-bottom {
      margin-top: auto;
    }
  }

  &__button {
    @include button;
    background: $light-blue;
    color: black;
    border: 1px solid black;
    border-radius: 0.25rem;
    border-top: 2px solid var(--Black, #000);
    border-right: 4px solid var(--Black, #000);
    border-bottom: 4px solid var(--Black, #000);
    border-left: 2px solid var(--Black, #000);

    margin-bottom: 0;

    &-name {
      font-size: 0.65rem;
      margin-left: 0.05rem;
      letter-spacing: -0.015rem;
    }
  }

  &__library {
    &-sublist {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      padding: 0 0 0 0.5rem;
    }

    &-subitem {
      font-size: 0.65rem;
      letter-spacing: -0.025rem;
      margin: 0.25rem 0;
      padding: 0.35rem;

      &:hover {
        cursor: pointer;
        background-color: $black;
        color: $white;
        @include thin-border;
        box-shadow: none;
      }
    }
  }

  // &__sorting {
  //   &-item {
  //     list-style-type: none;
  //     padding-left: 0.5rem;
  //   }

  //   &-types {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   &-type {
  //     font-size: 0.65rem;
  //     letter-spacing: -0.025rem;
  //     margin: 0.25rem 0 0 0;
  //     padding: 0.35rem;
  //     padding-bottom: 0;
  //   }

  //   &-subitem {
  //     font-size: 0.55rem;
  //     letter-spacing: -0.025rem;
  //     padding-left: 0.3rem;
  //   }

  //   &-checkbox {
  //     vertical-align: middle;
  //     margin-left: 0.5rem;
  //   }
  // }
}