@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.nav {
  &__list {
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5rem;
    padding-top: 0.5rem;
    @include border;
    z-index: 99;
    background-color: $white;
  }

  &__item {
    display: flex;
    padding: 0.75rem 0.25rem 1.25rem;
    align-items: center;

    &-name {
      font-size: 0.65rem;
      margin-left: 0.5rem;
      font-weight: 800;

      @include desktop {
        font-size: 0.75rem;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-first {
      justify-content: space-between;
      align-items: center;
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: $yellow;
      color: $black;
      @include thin-border;
      box-shadow: none;
      border: none;
    }
  }

  &__icon {
    width: 1.15rem;
    height: 1.15rem;

    &-upload {
      filter: invert(1);
    }

    &-arrow-down {
      width: 0.85rem;
      height: 0.85rem;
      margin-left: 0.25rem;
    }
  }

  &__container {
    &-top {
      flex-grow: 1;
    }

    &-bottom {
      margin-top: auto;
    }
  }

  &__button {
    @include button;
    background: $light-blue;
    color: black;
    border: 1px solid black;
    border-radius: 0.25rem;
    border-top: 2px solid var(--Black, #000);
    border-right: 4px solid var(--Black, #000);
    border-bottom: 4px solid var(--Black, #000);
    border-left: 2px solid var(--Black, #000);
    margin-bottom: 0;
    width: 100%;

    &-name {
      font-size: 0.65rem;
      margin-left: 0.05rem;
      letter-spacing: -0.015rem;

      @include large-desktop {
        font-size: 0.75rem;
      }
    }
  }

  &__library {
    &-sublist {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      padding: 0 0 0 0.5rem;

      @include desktop {
        margin-left: 1.25rem;
      }
    }

    &-subitem {
      font-size: 0.65rem;
      letter-spacing: -0.025rem;
      margin: 0.25rem 0;
      padding: 0.35rem;
      font-weight: 800;
      @include thin-border;
      border-color: transparent;
      box-shadow: none;

      &:hover {
        cursor: pointer;
        background-color: $yellow;
        color: $black;
        border-color: $yellow;
      }

      @include desktop {
        font-size: 0.75rem;
      }
    }
  }
}
