@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resource {
  &__container {
    display: flex;

    &__img {
      bottom: 0rem;
      position: absolute;
      width: 110%;
      z-index: -1;
    }
  }

  &__cards {
    margin-right: 0.75rem;
    width: 55%;

    @include desktop {
      width: 45%;
    }
  }

  &-details__container {
    width: 90%;
    margin: 0 0.75rem 0.75rem 0;
  }

  &__navbar-container {
    width: 22%;
    min-width: 22%;
    display: flex;
    flex-direction: column;
    height: 90vh;

    @include desktop {
      width: 15%;
      min-width: 15%;
    }
  }
}