@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resource {
  margin: 0.75rem 0.75rem 0.75rem 0;
  padding: 0.5rem;
  @include border;
  // height: 8rem;

  @include desktop {
    // height: 8rem;
  }

  @include large-desktop {
    // height: 10rem;
  }

  &--active {
    background-color: $cream;
    @include border-active;

    .resource__title {
      font-weight: 800;
    }
  }

  &:hover {
    .resource__title,
    .resource__type {
      color: $light-blue;
    }
  }

  &__heading-top {
    display: flex;
    justify-content: space-between;
  }

  &__type {
    color: $dark-blue;
    font-size: 0.85rem;
    font-weight: 800;

    @include large-desktop {
      font-size: 1rem;
    }
  }

  &__title {
    font-weight: 700;
    color: $black;
    font-size: 0.95rem;
    letter-spacing: -0.05rem;
    line-height: 1.1;
    width: 100%;

    @include desktop {
      font-size: 1.15rem;
    }

    @include large-desktop {
      font-size: 1.35rem;
    }
  }

  &__rating {
    max-width: 3rem;

    @include tablet {
      width: 4.5rem;
    }
  }

  &__star-icon {
    width: 19%;
    height: 29%;
  }

  &__timer {
    display: flex;
    align-items: center;
    width: 3.65rem;
    color: $black;
    margin: 0.125rem 0.5rem;

    @include large-desktop {
      width: 4.65rem;
    }
  }

  &__duration {
    font-size: 0.75rem;
    width: 3rem;
    margin-left: 0.2rem;
  }

  &__timer-icon {
    width: 0.75rem;

    @include desktop {
      width: 1rem;
    }

    @include large-desktop {
      width: 1.15rem;
    }
  }

  // &__heading-bottom {
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 0.5rem;
  //   align-items: center;
  // }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.75rem;
  }

  &__level {
    color: $dark-blue;
    font-size: 0.55rem;
    // margin: 0.75rem 0;

    @include desktop {
      font-size: 0.65rem;
    }

    @include large-desktop {
      font-size: 0.75rem;
    }
  }

  &__preview {
    color: black;
    font-size: 0.7rem;
    width: 100%;
    line-height: 1.1;
    letter-spacing: -0.03rem;

    @include desktop {
      font-size: 0.75rem;
    }
  }

  &__link {
    width: 1rem;
  }

  &__forward-arrow-icon {
    width: 2rem;
  }

  &__icons-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0.25rem 0;

    @include desktop {
      flex-wrap: nowrap;
    }

    @include large-desktop {
      margin: 0.75rem 0;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin: 0.125rem 0.5rem;
  }

  &__icons-img {
    width: 0.75rem;
    height: 0.75rem;

    @include desktop {
      width: 1rem;
      height: 1rem;
    }

    @include large-desktop {
      width: 1.15rem;
      height: 1.15rem;
    }
  }

  &__icons-img-upvote {
    margin-left: 0;
  }

  &__upvotes-total,
  &__comments-total {
    font-size: 0.85rem;
    margin-left: 0.2rem;
  }
}
