@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resource {
  margin: 0.75rem 0;
  padding: 0.5rem;
  @include border;
  // transition: transform 0.3s ease, box-shadow 0.3s ease;

  &--active {
    background-color: $cream;
    @include border-active;

    .resource__title {
      font-weight: 800;
    }
  }

  &:hover {
    .resource__title,
    .resource__type {
      color: $light-blue;
    }
  }

  &__heading-top {
    display: flex;
    justify-content: space-between;
  }

  &__type {
    color: $dark-blue;
    font-size: 0.85rem;
    font-weight: 800;
  }

  &__title {
    font-weight: 700;
    color: $black;
    font-size: 0.95rem;
    letter-spacing: -0.05rem;
    line-height: 1.2;

    @include desktop {
      font-size: 1.15rem;
    }
  }

  &__rating {
    max-width: 3rem;
    @include tablet {
      width: 4.5rem;
    }
  }

  &__star-icon {
    width: 19%;
    height: 29%;
    // margin-left: 0.45rem;
  }

  &__timer {
    display: flex;
    align-items: center;
    width: 3.65rem;
    color: $black;
  }

  &__duration {
    font-size: 0.75rem;
    width: 3rem;
  }

  &__timer-icon {
    width: 25.5%;
  }

  &__heading-bottom {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.75rem;
  }

  &__level {
    color: $dark-blue;
    font-size: 0.55rem;
    margin: 0.75rem 0;

    @include desktop {
      font-size: 0.65rem;
    }
  }

  &__preview {
    color: black;
    font-size: 0.7rem;
    width: 100%;
    line-height: 1.1;
    letter-spacing: -0.03rem;

    @include desktop {
      font-size: 0.75rem;
    }
  }

  &__link {
    width: 1rem;
  }

  &__forward-arrow-icon {
    width: 95.5%;
  }
}
