
.small-text {
  color: grey;
  margin-top: 15px;
}

.submission__upload {
  /* text-align: center; */
  font-size: 14px;
  margin-bottom: 0px;
  color: grey;
}

.submission__file-button {
  color: grey;
}
