@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

@font-face {
  font-family: "Corben";
  src: url("../../assets/fonts/Corben-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Corben";
  src: url("../../assets/fonts/Corben-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.submission {
  // &__form-container {
  //   // display: flex;
  //   // flex-wrap: wrap;
  //   // max-height: 600px;
  //   // justify-content: space-between;
  //}

  &__descBox {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  &__form-column {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  &__title {
    font-family: "Poppins";
  }

  &__upload {
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Poppins";
    margin-top: 2.5rem;
  }

  &__header-title {
    font-family: "Corben";
    font-weight: bold;
    font-size: 25px;
    // margin-left: 40px;
  }

  &__small-text {
    color: black;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bolder;
    font-family: "Poppins";
    // margin-left: 40px;
  }

  &__file-button {
    color: grey;
    font-weight: bold;
    font-size: 20px;
    font-family: "Poppins";
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 0 black;
    width: 375px;
  }

  &__inputField {
    border-radius: 0.25rem;
    box-shadow: 1px 1px 0 black;
    font-weight: bold;
    font-size: 20px;
    // color: black;
    // width: 100%;
    // max-width: 500px;
  }

  &__OR {
    margin-top: -20px;
    margin-bottom: 10px;
  }

  &__inputField::placeholder {
    color: grey;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins";
  }
}