@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

@font-face {
  font-family: "Corben";
  src: url('../../assets/fonts/Corben-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Corben";
  src: url('../../assets/fonts/Corben-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.submission {
  &__upload {
    font-size: 16px;
    margin-top: 20px;
    // margin-bottom: 10px;
    color: darkblue;
  }
  
  &__header-title {
    font-family: "Corben";
    font-weight: bold;
    font-size: 26px;
  }

  &__small-text {
    color: black;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bolder;
  }


  &__file-button {
    color: grey;
    font-weight: bold;
    font-size: 16px
  }

  &__inputField {
    border-radius: 0.25rem;
    box-shadow: 4px 4px 0 black;
    font-weight: bolder;
  }

  &__inputField::placeholder {
    color: grey;
  }

  &__inputField::selection {
    color: black;
  }
}

