@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resource-details {
  margin: 0.75rem 0;
  padding-bottom: 1rem;
  padding: 0.5rem;
  @include border;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__heading-top-container {
    display: flex;
    justify-content: space-between;
  }

  &__type {
    color: $dark-blue;
    font-size: 1rem;
    font-weight: 900;

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &__saved-icon {
    width: 5.5%;
    cursor: pointer;
    fill: aqua;

    @include desktop {
      width: 3.5%;
    }
  }

  &__title {
    font-weight: 900;
    color: $black;
    font-size: 1.35rem;
    letter-spacing: -0.05rem;

    @include desktop {
      font-size: 1.65rem;
    }
  }

  &__rating-timer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;
  }

  &__timer {
    display: flex;
    align-items: center;
    width: 4.25rem;
    color: $black;
  }

  &__duration {
    font-size: 0.75rem;
  }

  &__rating-star-container {
    display: flex;
    align-items: center;
  }

  &__rating {
    font-size: 0.75rem;
    text-decoration: underline;
  }

  &__stars {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__star-icon {
    width: 19%;
    height: 65%;
    // margin-left: 0.45rem;
  }

  &__timer-icon {
    width: 28.5%;
    margin-left: 0.45rem;
  }

  &__heading-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__level {
    color: $dark-blue;
    font-size: 0.75rem;
    font-weight: 800;

    @include large-desktop {
      font-size: 0.95rem;
    }
  }

  &__preview {
    color: black;
    font-size: 0.85rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__link {
    width: 2rem;
  }

  &__forward-arrow-icon {
    width: 2rem;
  }

  &__tags-container {
    display: flex;
  }

  &__tag {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0.25rem;
    background-color: $tag-blue;
    padding: 0.2rem 0.5rem;
    margin: 0.75rem 0.75rem 0.75rem 0;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: -0.01rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__submission {
    font-size: 0.85rem;
  }

  &__author-container {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__author {
    font-size: 0.85rem;
    display: flex;
    align-items: center;

    &-name {
      color: $light-blue;
      font-weight: 900;
      margin-left: 0.5rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }

  &__avatar {
    background-color: #e1e1e1;
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 0.75rem;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    width: 68%;
    margin-left: auto;
    justify-content: end;
  }

  &__resource-button {
    @include button;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: $light-blue;
    width: 100%;
    font-size: 0.84rem;
    margin-bottom: 0;

    &:hover {
      transform: scale(1.025);
    }

    @include thin-border;
  }

  &__button {
    @include button;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 0;
    width: 8rem;

    @include desktop {
      width: 9rem;
    }

    @include large-desktop {
      width: 10rem;
    }

    &:hover {
      transform: scale(1.025);
    }

    &--read {
      background-color: $light-blue;
    }
    @include thin-border;
  }

  &__link {
    width: 8rem;
    margin-right: 0.5rem;

    @include desktop {
      width: 9rem;
    }

    @include large-desktop {
      width: 10rem;
    }
  }
}
