@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.commentImg {
  height: 2.8rem;
  width: 2.8rem;
  flex-shrink: 0;
  border-radius: 50%;
}

.comments {
  contain: strict;
  width: 100%;
  margin-bottom: 0px;
  // position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.comments::-webkit-scrollbar {
  display: none;
}

.commentContext {
  display: flex;
  flex-direction: column;
}

.commentHeader {
  display: flex;
  flex-direction: row;
}

.commenter {
  color: #0099ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.commentDate {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-left: 1rem;
}

.thumbsup {
  right: 3%;
  position: absolute;
}

.commentLikes {
  width: 17.492px;
  height: 17.5px;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commentText {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
}

.noCommentText {
  font-family: "Poppins";
}

.newComment {
  // position: sticky;
  bottom: 0;
  display: flex;
  height: 107px;
  // margin-top: -5px;
  align-items: center;
  gap: 1rem;
  // margin: 0.75rem;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1rem;
  @include border;
  background: #fff;
  // margin-top: 2rem;
  box-shadow: 4px 4px 0 black;
}

.commentDivs {
  position: relative;
  display: flex;
  padding: 14px;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  margin: 0.75rem;
  margin-left: 0px;
  margin-right: 4px;
  padding-bottom: 1rem;
  padding: 0.5rem;
  @include border;
  background: #fff;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 0 black;
}

.resource__forward-arrow-icon {
  width: 2rem;
}
