@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;


.commentImg {
    height: 2.8rem;
    width: 2.8rem;
    flex-shrink: 0;
    border-radius: 50%;
}

.comments {
    contain: strict;
    width: 100%;
    position: relative;
    overflow: auto;
    height: 30rem;
    -webkit-overflow-scrolling: touch;
}

.comments::-webkit-scrollbar {
    display: none;
} 

.commentDivs {
    position: relative;
    display: flex;
    padding: 14px;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 8px;
    border-top: 3px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    border-left: 3px solid #000;
    background: #FFF;
    margin-bottom: 1rem;
}

.commentContext {
    display: flex;
    flex-direction: column;
}

.commentHeader {
    display: flex;
    flex-direction: row;
}

.commenter {
    color: #0099FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.commentDate {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-left: 1rem;
}

.thumbsup {
    right: 3%;
    position: absolute;
}

.commentLikes {
    width: 17.492px;
    height: 17.5px;
}

.commentText {
    color: #5E6D82;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
}

.newComment {
    position: sticky;
    bottom: 0;
    display: flex;
    height: 107px;
    padding: 14px;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    border-radius: 8px;
    border-top: 3px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    border-left: 3px solid #000;
    background: #FFF;
    margin-top: 2rem;
}


