@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resource {
  &__container {
    display: flex;
    height: 100vh;
  }

  &__cards {
    margin-right: 0.75rem;
    width: 55%;
    overflow-y: auto; /* Enable vertical scrolling */
    @include desktop {
      width: 45%;
    }
  }

  &-details__container {
    width: 90%;
    margin: 0 0.75rem 0.75rem 0;
  }

  &__navbar-container {
    width: 19rem;
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 25rem;
    }
  }
}
