@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.resource {
  &__container {
    display: flex;
  }

  &__cards {
    margin-right: 0.75rem;
    width: 48%;
    // background-color: purple;
    height: 88vh;
    overflow-y: auto;

    /* Enable vertical scrolling */
    @include desktop {
      width: 38%;
    }

    @include large-desktop {
      width: 35%;
    }
  }

  &-details__container {
    width: 90%;
    height: 100%;
    max-height: 100vh;
    // margin-left: 0px;
    margin: 0 0.75rem 0.75rem 0;

    // background-color: orange;
    @include desktop {
      width: 25rem;
    }
  }

  &__navbar-container {
    width: 19rem;
    display: flex;
    flex-direction: column;

    // background-color: green;
    @include desktop {
      width: 25rem;
    }
  }
}