@use "../../styles/partials/_typography" as *;
@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/global" as *;

.homepage {
  display: flex;

  &__title {
    font-family: "Corben";
    font-weight: 600;
    font-size: 1.25rem;
    margin: 2rem 7.5rem;
    text-align: center;

    @include desktop {
      margin: 2rem 16rem;
    }

    @include large-desktop {
      margin: 2rem 22rem;
    }
  }

  &__img {
    bottom: -8rem;
    position: absolute;
    width: 110%;
    overflow: hidden;
    height: 15rem;

    @include desktop {
      bottom: -12rem;
      height: 20rem;
    }

    @include large-desktop {
      bottom: -14rem;
      height: 23rem;
    }
  }
}
